In [30]:
import numpy as np
import pandas as pd

with open("./data/competitions.json") as datafile:
    data = json.load(datafile)
df = pd.DataFrame(data)

In [31]:
df.head()

,competition_id,season_id,country_name,competition_name,competition_gender,competition_youth,competition_international,season_name,match_updated,match_updated_360,match_available_360,match_available
0,16,4,Europe,Champions League,male,False,False,2018/2019,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2021-07-09T14:06:05.802
1,16,1,Europe,Champions League,male,False,False,2017/2018,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2021-01-23T21:55:30.425330
2,16,2,Europe,Champions League,male,False,False,2016/2017,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00
3,16,27,Europe,Champions League,male,False,False,2015/2016,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00
4,16,26,Europe,Champions League,male,False,False,2014/2015,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   competition_id             40 non-null     int64
 1   season_id                  40 non-null     int64
 2   country_name               40 non-null     object
 3   competition_name           40 non-null     object
 4   competition_gender         40 non-null     object
 5   competition_youth          40 non-null     bool
 6   competition_international  40 non-null     bool
 7   season_name                40 non-null     object
 8   match_updated              40 non-null     object
 9   match_updated_360          40 non-null     object
 10  match_available_360        2 non-null      object
 11  match_available            40 non-null     object
dtypes: bool(2), int64(2), object(8)
memory usage: 3.3+ KB

In [33]:
df.groupby('competition_name').size()

competition_name
Champions League           15
FA Women's Super League     3
FIFA World Cup              1
La Liga                    17
NWSL                        1
Premier League              1
UEFA Euro                   1
Women's World Cup           1
dtype: int64

In [34]:
df['competition_gender'].value_counts()

male      35
female     5
Name: competition_gender, dtype: int64

In [35]:
df[df['competition_gender'] == 'female']

,competition_id,season_id,country_name,competition_name,competition_gender,competition_youth,competition_international,season_name,match_updated,match_updated_360,match_available_360,match_available
15,37,90,England,FA Women's Super League,female,False,False,2020/2021,2021-07-01T18:14:40.756,2021-06-13T16:17:31.694,None,2021-07-01T18:14:40.756
16,37,42,England,FA Women's Super League,female,False,False,2019/2020,2021-06-01T13:01:18.188,2021-06-13T16:17:31.694,None,2021-06-01T13:01:18.188
17,37,4,England,FA Women's Super League,female,False,False,2018/2019,2022-05-27T12:02:24.272045,2021-06-13T16:17:31.694,None,2022-05-27T12:02:24.272045
36,49,3,United States of America,NWSL,female,False,False,2018,2021-11-06T05:53:29.435016,2021-06-13T16:17:31.694,None,2021-11-06T05:53:29.435016
39,72,30,International,Women's World Cup,female,False,True,2019,2022-07-13T20:21:27.033445,2021-06-13T16:17:31.694,None,2022-07-13T20:21:27.033445

In [36]:
df.groupby('competition_youth').size()

competition_youth
False    40
dtype: int64

In [37]:
df.groupby('season_name').size()

season_name
1999/2000    1
2003/2004    2
2004/2005    2
2005/2006    1
2006/2007    2
2007/2008    1
2008/2009    2
2009/2010    2
2010/2011    2
2011/2012    2
2012/2013    2
2013/2014    2
2014/2015    2
2015/2016    2
2016/2017    2
2017/2018    2
2018         2
2018/2019    3
2019         1
2019/2020    2
2020         1
2020/2021    2
dtype: int64

In [38]:
df.groupby('match_available_360').size()

match_available_360
2021-09-17T15:18:33.787790    1
2021-11-11T13:54:37.507376    1
dtype: int64

In [39]:
df[df['match_available_360'].notnull()]

,competition_id,season_id,country_name,competition_name,competition_gender,competition_youth,competition_international,season_name,match_updated,match_updated_360,match_available_360,match_available
19,11,90,Spain,La Liga,male,False,False,2020/2021,2022-02-11T14:56:09.076,2021-10-30T04:19:36.116600,2021-09-17T15:18:33.787790,2022-02-11T14:56:09.076
38,55,43,Europe,UEFA Euro,male,False,True,2020,2022-02-01T17:20:34.319496,2021-11-11T13:54:37.507376,2021-11-11T13:54:37.507376,2022-02-01T17:20:34.319496