In [8]:
import numpy as np
import pandas as pd

# match/16/22.json
# 
with open("./data/events/18236.json") as datafile:
  data = json.load(datafile)
dataframe = pd.DataFrame(data)

In [9]:
# カラム省略表記されてしまうので
pd.set_option('display.max_columns', 100)

In [10]:
dataframe

,id,index,period,timestamp,minute,second,type,possession,possession_team,play_pattern,team,duration,tactics,related_events,player,position,location,pass,carry,ball_receipt,under_pressure,duel,counterpress,dribble,interception,shot,goalkeeper,off_camera,clearance,ball_recovery,foul_won,block,foul_committed,substitution,bad_behaviour
0,8eb54fd1-3b77-4de8-a6eb-63cb080010e7,1,1,00:00:00.000,0,0,"{'id': 35, 'name': 'Starting XI'}",1,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}","{'id': 217, 'name': 'Barcelona'}",0.000000,"{'formation': 41221, 'lineup': [{'player': {'i...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,dc677ade-3585-44c9-a377-c795a65c6310,2,1,00:00:00.000,0,0,"{'id': 35, 'name': 'Starting XI'}",1,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}","{'id': 39, 'name': 'Manchester United'}",0.000000,"{'formation': 4222, 'lineup': [{'player': {'id...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,de4c3384-3748-46b1-b6f0-6d7fd5ed41ab,3,1,00:00:00.000,0,0,"{'id': 18, 'name': 'Half Start'}",1,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}","{'id': 39, 'name': 'Manchester United'}",0.000000,NaN,[206bb9ff-6848-4c98-8b81-797aaf24192b],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,206bb9ff-6848-4c98-8b81-797aaf24192b,4,1,00:00:00.000,0,0,"{'id': 18, 'name': 'Half Start'}",1,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}","{'id': 217, 'name': 'Barcelona'}",0.000000,NaN,[de4c3384-3748-46b1-b6f0-6d7fd5ed41ab],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,a10ce602-229f-4c8a-8c61-95f8e7438a4a,5,1,00:00:01.213,0,1,"{'id': 30, 'name': 'Pass'}",2,"{'id': 39, 'name': 'Manchester United'}","{'id': 9, 'name': 'From Kick Off'}","{'id': 39, 'name': 'Manchester United'}",0.580900,NaN,[ee82dbf9-b9f5-4eea-84f1-e243d1e97f51],"{'id': 3058, 'name': 'Javier Hernández Balcázar'}","{'id': 24, 'name': 'Left Center Forward'}","[61.0, 41.0]","{'recipient': {'id': 3538, 'name': 'Wayne Mark...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4321,5aa430c2-2d96-472b-8e5e-abaf0127184a,4322,2,00:47:56.622,92,56,"{'id': 42, 'name': 'Ball Receipt*'}",195,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}","{'id': 39, 'name': 'Manchester United'}",NaN,NaN,[a690ea94-d105-4ea8-8e7b-9bd3fb3730f6],"{'id': 15036, 'name': 'Edwin van der Sar'}","{'id': 1, 'name': 'Goalkeeper'}","[2.0, 24.0]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4322,073d145a-d793-40b1-8be9-587c84e16a28,4323,2,00:47:56.622,92,56,"{'id': 43, 'name': 'Carry'}",195,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}","{'id': 39, 'name': 'Manchester United'}",5.220500,NaN,"[5aa430c2-2d96-472b-8e5e-abaf0127184a, 9d814a5...","{'id': 15036, 'name': 'Edwin van der Sar'}","{'id': 1, 'name': 'Goalkeeper'}","[2.0, 24.0]",NaN,"{'end_location': [14.0, 29.0]}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4323,9d814a56-cafc-49ac-b375-6e089236e065,4324,2,00:48:01.843,93,1,"{'id': 30, 'name': 'Pass'}",195,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}","{'id': 39, 'name': 'Manchester United'}",2.325477,NaN,NaN,"{'id': 15036, 'name': 'Edwin van der Sar'}","{'id': 1, 'name': 'Goalkeeper'}","[14.0, 29.0]","{'length': 53.235325, 'angle': 0.09406123, 'he...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4324,c4f738ea-1af5-4694-9264-40e35ac7972c,4325,2,00:48:04.347,93,4,"{'id': 34, 'name': 'Half End'}",195,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}","{'id': 39, 'name': 'Manchester United'}",0.000000,NaN,[f1c9fc85-e2ce-4fbc-947b-9b5d26cd7821],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4325,f1c9fc85-e2ce-4fbc-947b-9b5d26cd7821,4326,2,00:48:04.347,93,4,"{'id': 34, 'name': 'Half End'}",195,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}","{'id': 217, 'name': 'Barcelona'}",0.000000,NaN,[c4f738ea-1af5-4694-9264-40e35ac7972c],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
dataframe['timestamp']

0       00:00:00.000
1       00:00:00.000
2       00:00:00.000
3       00:00:00.000
4       00:00:01.213
            ...
4321    00:47:56.622
4322    00:47:56.622
4323    00:48:01.843
4324    00:48:04.347
4325    00:48:04.347
Name: timestamp, Length: 4326, dtype: object

In [67]:
# パスだけで1/4以上を占める
# dataframe[dataframe['pass'].notnull()]

In [68]:
# それぞれのカラムでnanの数を求める
dataframe.notnull().sum()

id                 4326
index              4326
period             4326
timestamp          4326
minute             4326
second             4326
type               4326
possession         4326
possession_team    4326
play_pattern       4326
team               4326
duration           3158
tactics               8
related_events     4188
player             4308
position           4308
location           4304
pass               1222
carry              1085
ball_receipt        135
under_pressure      835
duel                 55
counterpress         97
dribble              44
interception         28
shot                 26
goalkeeper           29
off_camera           35
clearance             2
ball_recovery        10
foul_won              9
block                 2
foul_committed        4
substitution          5
bad_behaviour         1
dtype: int64

In [69]:
# typeごとに集計してみた
type_name_list = dataframe['type'].map(lambda x: x['name'])
type_name_list.value_counts()

# typeカラムでのpassと、passのカラムが同じ数なので、passカラムそのままみちゃった方が良さそう

Pass                 1222
Ball Receipt*        1168
Carry                1085
Pressure              389
Ball Recovery          83
Duel                   55
Dribble                44
Dribbled Past          34
Goal Keeper            29
Interception           28
Block                  26
Shot                   26
Dispossessed           25
Miscontrol             23
Foul Committed         22
Foul Won               22
Clearance              17
Tactical Shift          6
Substitution            5
Half End                4
Half Start              4
Shield                  3
Starting XI             2
Referee Ball-Drop       2
Offside                 1
Bad Behaviour           1
Name: type, dtype: int64

In [72]:
pass_list = dataframe['pass'][dataframe['pass'].notnull()]
# print(pass_list[4])
# print(pass_list[7])
# print(pass_list[9])
# print(pass_list[11])
pass_list

4       {'recipient': {'id': 3538, 'name': 'Wayne Mark...
7       {'recipient': {'id': 20175, 'name': 'Ryan Gigg...
11      {'recipient': {'id': 3267, 'name': 'Luis Anton...
13      {'recipient': {'id': 5503, 'name': 'Lionel And...
15      {'recipient': {'id': 5203, 'name': 'Sergio Bus...
                              ...
4306    {'recipient': {'id': 4891, 'name': 'Ibrahim Af...
4309    {'recipient': {'id': 20125, 'name': 'Carles Pu...
4313    {'length': 19.0, 'angle': 0.0, 'height': {'id'...
4320    {'recipient': {'id': 15036, 'name': 'Edwin van...
4323    {'length': 53.235325, 'angle': 0.09406123, 'he...
Name: pass, Length: 1222, dtype: object